@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
   --primary-red: hsl(0, 100%, 74%);
   --primary-green: hsl(154, 59%, 51%);
   --primary-green-opacity: rgba(56, 204, 140, 0.719);
   --accent-blue: hsl(248, 32%, 49%);
   --neutral-dark-blue: hsl(249, 10%, 26%);
   --neutral-grayish-blue: hsl(246, 25%, 77%);
}

html {
   box-sizing: border-box;
   font-size: 16px;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   padding: 0;
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   background-color: var(--primary-red);
   background-image: url(../images/bg-intro-mobile.png);
}

article {
   text-align: center;
   margin: 0px 7vw;
}

header {
   margin: 3.9375rem auto;
}

header h1 {
   margin: 1.375rem auto;
}

section.registration {
   max-width: 33.75rem;
   margin: 0 auto;
}


section.registration .offer {
   display: block;
   text-decoration: none;
   font-size: 1rem;
   font-weight: 600;
   color: #ffffff;
   background-color: var(--accent-blue);
   margin: 0 auto;
   padding: 1.25rem 3.125rem;
   border-radius: .7rem;
   box-shadow: 0px 8px 2px 0px hsl(249deg 6% 14% / 28%);
}

section.registration .offer:hover {
   color: var(--accent-blue);
   background-color: #ffffff;
}

.offer span {
   font-weight: 400;
}

.registration__form {
   margin: 1.4375rem auto;
   padding: 1.5rem 1.4375rem;
   background-color: #ffffff;
   color: #000000;
   border-radius: .7rem;
   box-shadow: 0px 5px 1px 0.5px hsl(0deg 0% 0% / 28%);
}

.input__container {
   margin: 0 0 1rem 0;
   padding: 0;
   text-align: right;
}

.input__container input {
   outline: none;
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 500;
   width: 100%;
   height: 3.5rem;
   padding: 0 3.125rem 0 1.25rem;
   border: 1px solid var(--neutral-grayish-blue);
   border-radius: 0.3125rem;
}

.input__container input::placeholder {
   text-transform: capitalize;
   font-weight: 600;
}

.input__container input:focus {
   border: 1px solid var(--neutral-dark-blue);
}

.input__container input.error {
   border: 2px solid var(--primary-red);
   background-image: url(../images/icon-error.svg);
   background-repeat: no-repeat;
   background-position: 90% 50%;
}

.input__container input[type="text"] {
   text-transform: capitalize;
}

.input__container span {
   opacity: 0;
   font-size: 12px;
   color: var(--primary-red);
   font-style: italic;
   font-weight: 500;
   margin: .5rem 0;
}

.input__container span.error {
   opacity: 1;
}

.registration__form button {
   outline: none;
   border: none;
   padding: 1rem 0;
   color: #ffffff;
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   font-weight: 500;
   background-color: var(--primary-green);
   width: 100%;
   text-transform: uppercase;
   border-radius: 0.3125rem;
   cursor: pointer;
   box-shadow: 0px 1px 1px 1px hsl(154deg 43% 48%);
}

.registration__form button:hover {
   background-color: var(--primary-green-opacity);
}

form p {
   color: var(--neutral-grayish-blue);
   font-size: 0.6875rem;
   padding: 0 0.8125rem;
}

form p a {
   color: var(--primary-red);
   font-weight: 600;
   text-decoration: none;
}

form p a:hover {
   color: var(--accent-blue);
}

footer a {
   text-decoration: none;
   color: var(--accent-blue);
}

footer a:hover {
   color: var(--neutral-dark-blue);
}



/* media queries  */

@media screen and (min-height: 800px) {
   body {
      height: 100vh;
   }

}


@media screen and (min-width: 750px) {
   body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   header h1 {
      font-size: 2.5rem;
      line-height: 1.2;
   }

   section.registration {

      margin: 0 auto;
   }

   .input__container input {
      text-align: center;
   }
}


@media screen and (min-width: 850px) {

   article {
      height: 95vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "header registration";
      /* margin: 3.9375rem 3vw; */
      margin: 2vh 5vw;
   }

   header {
      grid-area: header;
      /* justify-self: center; */
      align-self: center;
      text-align: left;
      padding-right: 2rem;
   }

   header h1 {
      /* font-size: 2.5rem; */
      line-height: 1.2;
   }

   section.registration {
      grid-area: registration;
      justify-self: center;
      align-self: center;
      /* margin: 0 auto; */
      margin: 0;
   }

   .input__container input {
      text-align: left;
   }
}

@media screen and (min-width: 1000px) {
   section.registration {
      min-width: 540px;
   }
}

@media screen and (min-width: 1100px) {
   header h1 {
      max-width: 400px;
      margin-left: 0;
   }
}

@media screen and (min-width: 1200px) {
   header h1 {
      font-size: 3rem;
      max-width: 30rem;
   }
}

@media screen and (min-width: 1300px) {
   article {
      margin: 2vh 10vw;
   }
}